<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Microsoft.ConfigurationManagement.AdminConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Microsoft.ConfigurationManagement.AdminConsole.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="ReportBuilderMapping" type="System.Configuration.NameValueSectionHandler"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Microsoft.ConfigurationManagement.AdminConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <AppContextSwitchOverrides value="Switch.UseLegacyAccessibilityFeatures=false;Switch.UseLegacyAccessibilityFeatures.2=false;Switch.UseLegacyAccessibilityFeatures.3=false;Switch.System.Drawing.DontSupportPngFramesInIcons=false;Switch.UseLegacyToolTipDisplay=false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <source name="SmsAdminUISnapIn" switchValue="Error" >
        <listeners>
          <add name="Default" type="System.Diagnostics.DefaultTraceListener"/>
          <add name="SmsFileTrace" type="Microsoft.ConfigurationManagement.AdminConsole.SmsTraceListener.SmsTextWriterTraceListener, AdminUI.SmsTraceListener" initializeData="SmsAdminUI.log"/>
          <add name="SmsEventTrace" type="Microsoft.ConfigurationManagement.AdminConsole.SmsTraceListener.SmsEventLogTraceListener, AdminUI.SmsTraceListener" initializeData="Critical"/>
        </listeners>
      </source>
      <!--SoftwareLibrary is a common library used directly both in Console by AppMan and SiteServer by Migration, so can't just use console TraceSource.-->
      <source name="SoftwareLibrary" switchValue="Error" >
        <listeners>
          <add name="Default" type="System.Diagnostics.DefaultTraceListener"/>
          <add name="SmsFileTrace" type="Microsoft.ConfigurationManagement.AdminConsole.SmsTraceListener.SmsTextWriterTraceListener, AdminUI.SmsTraceListener" initializeData="SoftwareLibrary.log"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <applicationSettings>
    <Microsoft.ConfigurationManagement.AdminConsole.Properties.Settings>
      <setting name="NamedValuePersistenceList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>AntiMalwareCollection</string>
            <string>AvailableExtensions</string>
            <string>CategoryMruCollection</string>
            <string>CollectionLimitActive</string>
            <string>CollectionLimitCount</string>
            <string>DefaultSrsReportingPoint</string>
            <string>DoesNotShowConnectDialogInDataReplication</string>
            <string>EkuBrowseDialogSize</string>
            <string>GlobalSearch</string>
            <string>ListOfAvailablePackage</string>
            <string>MaxResultSetLimit</string>
            <string>MonitoringView</string>
            <string>NodesToHide</string>
            <string>OverViewSettings</string>
            <string>QueryLimitActive</string>
            <string>QueryLimitCount</string>
            <string>SecurityInstanceRightsWhereQuery</string>
            <string>ViewSettings</string>
            <string>AppleVppDoNotShowSyncMessage</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="WindowsIntuneConnectionUri" serializeAs="String">
        <value />
      </setting>
      <setting name="WindowsIntuneRestfulConnectionUri" serializeAs="String">
        <value />
      </setting>
      <setting name="AppleDeviceEnrollmentPortalConnectionUri" serializeAs="String">
        <value />
      </setting>
      <setting name="ApplePushCertificatesPortalConnectionUri" serializeAs="String">
        <value />
      </setting>
      <setting name="WindowsDiscoveryServiceUri" serializeAs="String">
        <value />
      </setting>
      <setting name="DiscoveryServiceUri" serializeAs="String">
        <value />
      </setting>
      <setting name="BackgroundInterQuerySleepTime" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="InterQuerySleepTime" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="AsyncQueryBatchSize" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ExecuteQueryBatchSize" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="NodeBatchSize" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="ResultObjectsBatchSize" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="MaxCacheSize" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="HomepageTimeout" serializeAs="String">
        <value>15000</value>
      </setting>
      <setting name="ActionItemsCacheTime" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="FairFaxArmResourceId" serializeAs="String">
        <value />
      </setting>
      <setting name="FairFaxAuthorityResource" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableOData" serializeAs="String">
        <value>False</value>
      </setting>
    </Microsoft.ConfigurationManagement.AdminConsole.Properties.Settings>
  </applicationSettings>

  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Client"  >
          <clientCredentials supportInteractive="false" >
            <serviceCertificate>
              <authentication certificateValidationMode="ChainTrust" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <!--for Bing Maps Web Service Endpoint-->
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGeocodeService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>

      <!--for Microsoft Intune Service Endpoint-->
      <customBinding>
        <binding name="UserTokenServiceBinding">
          <security authenticationMode="IssuedTokenOverTransport" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <issuedTokenParameters keyType="SymmetricKey" tokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1">
              <issuer address="https://sconline-int.microsoft.com/UserEnrollmentSecurityTokenService/IWSTrust.svc" binding="customBinding" bindingConfiguration="Dummy"/>
            </issuedTokenParameters>
          </security>
          <httpsTransport/>
        </binding>

        <!-- Binding for the 2nd Request to get the Service Token-->
        <binding name="Dummy">
          <security authenticationMode="IssuedTokenOverTransport" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings maxClockSkew="1.00:00:00"/>
            <localServiceSettings maxClockSkew="1.00:00:00"/>
            <issuedTokenParameters keyType="BearerKey">
              <issuer binding="customBinding" bindingConfiguration="null" address="https://sconline-int.microsoft.com/AdministrativeSecurityTokenService/IWSTrust.svc"/>
            </issuedTokenParameters>
          </security>
          <httpsTransport/>
        </binding>

        <binding name="null">
          <httpsTransport/>
        </binding>
      </customBinding>

    </bindings>

    <client>
      <!--for Bing Maps Web Service Endpoint-->
      <endpoint address="https://dev.virtualearth.net/webservices/v1/geocodeservice/GeocodeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGeocodeService" contract="IGeocodeService" name="BasicHttpBinding_IGeocodeService" />

      <!-- Microsoft Intune Service endpoint -->
      <endpoint name="UserEnrollment" binding="customBinding"  bindingConfiguration="UserTokenServiceBinding"  behaviorConfiguration="Client"  address="https://sconline-int.microsoft.com/AgentEnrollmentService/AgentEnrollmentService.Svc"  contract="IAgentEnrollment"  />
    </client>

  </system.serviceModel>

  <ReportBuilderMapping>
    <add key="13.0" value="ReportBuilder_3_0_0_0.application" />
    <add key="12.0" value="ReportBuilder_3_0_0_0.application" />
    <add key="11.0" value="ReportBuilder_3_0_0_0.application" />
    <add key="10.50" value="ReportBuilder_3_0_0_0.application" />
    <add key="10.0" value="ReportBuilder_2_0_0_0.application" />
    <add key="DEFAULT" value="ReportBuilder_3_0_0_0.application" />
  </ReportBuilderMapping>

  <uri>
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
  <userSettings>
    <Microsoft.ConfigurationManagement.AdminConsole.Properties.Settings>
      <setting name="ApplyDarkTheme" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ThemeList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>SCUI_WindowFrame_Fill_Active;ThemeBackgroundColor</string>
            <string>SCUI_Pane_BG_Rest;ThemeBackgroundColor</string>
            <string>SCUI_OverviewPane_BG;ThemeBackgroundColor</string>
            <string>SCUI_StatusBar_BG;ThemeBackgroundColor</string>
            <string>SCUI_NavBar_Breadcrumb_BG;ThemeBackgroundColor</string>
            <string>SCUI_ConsoleDisplay_MenuItem_BG;ThemeBackgroundColor</string>
            <string>SCUI_Pane_Tab_BG;ThemeBackgroundColor</string>
            <string>SCUI_Pane_BG_Focus;ThemeBackgroundColor</string>
            <string>SCUI_NavPane_WunderbarButton_BG_Selected;ThemeFocusColor</string>
            <string>SCUI_NavPane_WunderbarButton_BG_Mouseover;ThemeFocusColor</string>
            <string>SCUI_NavPane_Node_BG_Selected;ThemeFocusColor</string>
            <string>SCUI_NavPane_Node_BG_Mouseover;ThemeFocusColor</string>
            <string>SCUI_NavPane_Node_BG_SelectedNotActive;ThemeFocusColor</string>
            <string>SCUI_ResultsPane_ObjectRow_BG_Mouseover;ThemeFocusColor</string>
            <string>SCUI_ResultsPane_ColumnHeader_BG_Rest;ThemeFocusColor</string>
            <string>SCUI_NavPane_Node_FG;ThemeForegroundColor</string>
            <string>SCUI_NavPane_WunderbarButton_FG;ThemeForegroundColor</string>
            <string>SCUI_NavPane_Node_FG_Selected;ThemeForegroundColor</string>
            <string>SCUI_NavPane_Node_FG_Mouseover;ThemeForegroundColor</string>
            <string>SCUI_OverviewPane_TaskTileHeader_FG;ThemeForegroundColor</string>
            <string>SCUI_StatusBar_FG;ThemeForegroundColor</string>
            <string>SCUI_ConsoleDisplay_FG_Mouseover;ThemeForegroundColor</string>
            <string>SCUI_ConsoleDisplay_MenuItem_FG;ThemeForegroundColor</string>
            <string>SCUI_DetailPane_Header_FG;ThemeForegroundColor</string>
            <string>SCUI_ConsoleDisplay_ToolTip_FG;ThemeForegroundColor</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ThemeBackgroundColor" serializeAs="String">
        <value>#282828</value>
      </setting>
      <setting name="ThemeForegroundColor" serializeAs="String">
        <value>#C1C1C1</value>
      </setting>
      <setting name="ThemeFocusColor" serializeAs="String">
        <value>#444444</value>
      </setting>
      <setting name="ThemeBackgroundResources" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>SCUI_WindowFrame_Fill_Active</string>
            <string>SCUI_Pane_BG_Rest</string>
            <string>SCUI_OverviewPane_BG</string>
            <string>SCUI_StatusBar_BG</string>
            <string>SCUI_NavBar_Breadcrumb_BG</string>
            <string>SCUI_ConsoleDisplay_MenuItem_BG</string>
            <string>SCUI_Pane_Tab_BG</string>
            <string>SCUI_Pane_BG_Focus</string>
            <string>SCUI_ConsoleDisplay_ToolTip_BG</string>
            <string>SCUI_MenuBar_BG</string>
            <string>SCUI_ScrollBar_Vertical_BG</string>
            <string>SCUI_ScrollBar_Horizontal_BG</string>
            <string>SCUI_NavBar_ControlBox_BG</string>
            <string>SCUI_ToolBar_Button_BG_Rest</string>
            <string>SCUI_ResultsPane_FilterBar_BG</string>
            <string>SCUI_ResultsPane_FilterBarFiltered_BG</string>
            <string>SCUI_Pane_Header_BG_Rest</string>
            <string>SCUI_ViewPane_BG</string>
            <string>SCUI_NavBar_Breadcrumb_Button_Background</string>
            <string>SCUI_NavBar_Breadcrumb_Button_Background_Disabled</string>
            <string>SCUI_OverviewPane_OverviewHeader_Shadow</string>
            <string>SCUI_DeploymentStatus_BG</string>
            <string>SCUI_FilterBar_BG</string>
            <string>SCUI_Button_BG</string>
            <string>SCUI_Button_BG_Disabled</string>
            <string>SCUI_ConsoleDisplay_MenuItem_BG_GlyphPanel</string>
            <string>SCUI_ConsoleDisplay_MenuItem_Inner_Border_Dark</string>
            <string>SCUI_ConsoleDisplay_MenuItem_Inner_Border_Light</string>
            <string>NavigatorInnerBackgroundBrush</string>
            <string>NavigatorOuterBackgroundBrush</string>
            <string>MenuBrushKey</string>
            <string>SCUI_ConsoleDisplay_MenuItem_BG_Disabled</string>
            <string>SCUI_ConsoleDisplay_MenuItem_BG_Checkbox</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ThemeForegroundResources" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>SCUI_MenuBar_FG</string>
            <string>SCUI_StatusBar_FG</string>
            <string>SCUI_DetailPane_Header_FG</string>
            <string>SCUI_ConsoleDisplay_FG</string>
            <string>SCUI_Dialog_Header_FG</string>
            <string>SCUI_ChevronGlyph_FG</string>
            <string>SCUI_NavPane_Node_FG</string>
            <string>SCUI_NavPane_WunderbarButton_FG</string>
            <string>SCUI_ConsoleDisplay_CommandButtonFG</string>
            <string>SCUI_ConsoleDisplay_MenuItem_FG</string>
            <string>SCUI_OverviewPane_OverviewHeader_SubheadFG</string>
            <string>SCUI_OverviewPane_OverviewHeader_HeadlineFG</string>
            <string>SCUI_OverviewPane_TileHeader_FG</string>
            <string>SCUI_OverviewPane_TaskTileHeader_FG</string>
            <string>SCUI_ResultsPane_ColumnHeader_FG</string>
            <string>SCUI_ResultsPane_ObjectRow_FG</string>
            <string>SCUI_ResultsPane_GroupHeader_FG</string>
            <string>SCUI_DetailPane_TileHeader_FG</string>
            <string>SCUI_ConsoleDisplay_ComboBox_FG</string>
            <string>SCUI_NavBar_Breadcrumb_FG</string>
            <string>SCUI_NavBar_Breadcrumb_Input_FG</string>
            <string>SCUI_ToolBar_Button_FG</string>
            <string>SCUI_ConsoleDisplay_ToolTip_FG</string>
            <string>SCUI_Wizard_WindowTitle_FG</string>
            <string>SCUI_NavBar_ControlBox_FG</string>
            <string>SCUI_BlueGlyph</string>
            <string>SCUI_ConsoleDisplay_TextField_FG_Focus</string>
            <string>SCUI_ScrollBarThumb</string>
            <string>SCUI_NavPane_Node_FG_Mouseover</string>
            <string>SCUI_NavPane_WunderbarButton_FG_Mouseover</string>
            <string>SCUI_ConsoleDisplay_FG_Mouseover</string>
            <string>SCUI_ConsoleDisplay_FG_Selected</string>
            <string>SCUI_Pane_Border</string>
            <string>SCUI_NavBar_Breadcrumb_Button_Arrow</string>
            <string>SCUI_NavBar_Breadcrumb_Button_Border_Mouseover</string>
            <string>SCUI_NavBar_Breadcrumb_Button_Border_Mousedown</string>
            <string>SCUI_NavBar_Breadcrumb_Button_InnerBorder_Mousedown</string>
            <string>SCUI_NavBar_Breadcrumb_Button_Border_Disabled</string>
            <string>SCUI_NavBar_Breadcrumb_Button_Border</string>
            <string>SCUI_NavBar_Breadcrumb_Button_InnerBorder</string>
            <string>SearchBar_backgroundTextBlock_FG</string>
            <string>FilterBar_backgroundTextBlock_FG</string>
            <string>SCUI_ConsoleDisplay_TextField_Border</string>
            <string>SCUI_Button_FG</string>
            <string>SCUI_Button_Border</string>
            <string>SCUI_Button_Border_Mouseover</string>
            <string>SCUI_Button_Border_Mousedown</string>
            <string>SCUI_NavBar_Breadcrumb_Border</string>
            <string>SCUI_NavBar_Breadcrumb_Border_Selected</string>
            <string>SCUI_NavBar_Breadcrumb_Border_Mouseover</string>
            <string>SCUI_GeographicalView_FG</string>
            <string>NavigatorToggleButtonArrowBrush</string>
            <string>NavigatorToggleButtonArrowMouseoverBrush</string>
            <string>NavigatorToggleButtonArrowPressedBrush</string>
            <string>ControlDarkDarkBrushKey</string>
            <string>AddCriteriaRectangleBrushKey</string>
            <string>WindowFrameBrushKey</string>
            <string>SCUI_ConsoleDisplay_MenuItem_Border_Checkbox</string>
            <string>SCUI_MenuCheckGlyph</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ThemeFocusResources" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>SCUI_NavPane_WunderbarButton_BG_Selected</string>
            <string>SCUI_NavPane_WunderbarButton_BG_Mouseover</string>
            <string>SCUI_NavPane_Node_BG_Selected</string>
            <string>SCUI_NavPane_Node_BG_Mouseover</string>
            <string>SCUI_NavPane_Node_BG_SelectedNotActive</string>
            <string>SCUI_ResultsPane_ObjectRow_BG_Mouseover</string>
            <string>SCUI_ResultsPane_ColumnHeader_BG_Rest</string>
            <string>SCUI_ConsoleDisplay_ComboBoxItem_BG_Selected</string>
            <string>SCUI_ToolBar_Button_BG_Mousedown</string>
            <string>SCUI_DetailPane_Header_BG_Mouseover</string>
            <string>SCUI_DetailPane_Tab_BG</string>
            <string>SCUI_ResultsPane_ObjectRow_BG_Selected</string>
            <string>SCUI_ResultsPane_ObjectRow_BG_SelectedNotActive</string>
            <string>SCUI_ResultsPane_ObjectRow_BG_SelectedMouseover</string>
            <string>SCUI_ResultsPane_ObjectRow_Border</string>
            <string>SCUI_ResultsPane_ObjectRow_Border_Mouseover</string>
            <string>SCUI_ResultsPane_ColumnHeader_BG_Mouseover</string>
            <string>SCUI_ResultsPane_ColumnHeader_BG_Mousedown</string>
            <string>SCUI_ResultsPane_ColumnHeader_Border_Mousedown</string>
            <string>SCUI_ResultsPane_ColumnHeader_Border_Mouseover</string>
            <string>SCUI_ResultsPane_FilterBar_ButtonBG_Mouseover</string>
            <string>SCUI_ResultsPane_FilterBar_ButtonBorder_Mouseover</string>
            <string>SCUI_NavBar_Breadcrumb_Button_Background_Mousedown</string>
            <string>SCUI_NavBar_Breadcrumb_Button_Background_Mouseover</string>
            <string>SCUI_DeploymentStatus_SearchBar_BG</string>
            <string>SCUI_ConsoleDisplay_TextField_BG_Focus</string>
            <string>SCUI_ConsoleDisplay_TextField_BG_Rest</string>
            <string>SCUI_Button_BG_Mouseover</string>
            <string>SCUI_Button_BG_Mousedown</string>
            <string>SCUI_ConsoleDisplay_MenuItem_BG_Mouseover</string>
            <string>SCUI_NavBar_Breadcrumb_BG_Mouseover</string>
            <string>SCUI_NavBar_Breadcrumb_Button_BG_Mouseover</string>
            <string>SCUI_NavBar_Breadcrumb_Button_BG_Mousedown</string>
            <string>NavigatorViewboxBackgroundBrush</string>
            <string>CurrentEntryBackground</string>
            <string>HighlightBrushKey</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ThemeBackgroundSelectedResources" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>SCUI_MenuBar_MenuTitle_BG_Selected</string>
            <string>SCUI_MenuBar_BG_Selected</string>
            <string>SCUI_NavPane_WunderbarButton_BG_Selected</string>
            <string>SCUI_ConsoleDisplay_ComboBoxItem_BG_Selected</string>
            <string>SCUI_ConsoleDisplay_ComboBox_BG_Selected</string>
            <string>SCUI_Wizard_StepLabel_BG_Selected</string>
            <string>SCUI_NavBar_Breadcrumb_BG_Selected</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ThemeSelectedColor" serializeAs="String">
        <value />
      </setting>
      <setting name="ThemeForegroundSelectedResources" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>SCUI_MenuBar_MenuTitle_FG_Selected</string>
            <string>SCUI_NavPane_WunderbarButton_FG_Selected</string>
            <string>SCUI_NavPane_Node_FG_Selected</string>
            <string>SCUI_ConsoleDisplay_ComboBoxItem_FG_Selected</string>
            <string>SCUI_Wizard_StepLabel_FG_Selected</string>
            <string>SCUI_ConsoleDisplay_FG_Selected</string>
            <string>SCUI_ConsoleDisplay_MenuItem_FG_Mouseover</string>
            <string>SCUI_ConsoleDisplay_MenuItem_Border_Mouseover</string>
            <string>HighlightTextBrushKey</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ThemeDisabledResources" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>SCUI_NavBar_Breadcrumb_Button_Arrow_Disabled</string>
            <string>SCUI_Button_FG_Disabled</string>
            <string>SCUI_Button_Border_Disabled</string>
            <string>SCUI_ConsoleDisplay_MenuItem_FG_Disabled</string>
            <string>SCUI_Hyperlink_FG_Disabled</string>
            <string>SCUI_MenuGlyph_Disabled</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ThemeDisabledColor" serializeAs="String">
        <value>#585858</value>
      </setting>
      <setting name="ThemeBackgroundSelectedColor" serializeAs="String">
        <value>#454545</value>
      </setting>
      <setting name="ThemeForegroundSelectedColor" serializeAs="String">
        <value>#E6E6E6</value>
      </setting>
      <setting name="ThemeHyperlinkResources" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>SCUI_ConsoleDisplay_Hyperlink_FG_Rest</string>
            <string>SCUI_ConsoleDisplay_Hyperlink_FG_Mouseover</string>
            <string>SCUI_ConsoleDisplay_Hyperlink_FG_IsFocused</string>
            <string>SCUI_Hyperlink_FG</string>
            <string>SCUI_Hyperlink_FG_Mouseover</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ThemeHyperlinkColor" serializeAs="String">
        <value>#76A6F1</value>
      </setting>
    </Microsoft.ConfigurationManagement.AdminConsole.Properties.Settings>
  </userSettings>
</configuration>
